nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#mynavbar" aria-expanded="false")
        i.fa.fa-bars
      a.navbar-brand(href="/#/")
        img(alt="Brand" src="assets/images/brand.png" width="50" height="50") 
        span Poop Already!
    
    #mynavbar.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href="/#/about") About
        li
          a(href="/#/contact") Contact

      ul.nav.navbar-nav.navbar-right
        li
          a(href='/#/signin') Sign In
        li
          a(href='/#/login') Log In
