
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h3>Log in to Poop Already</h3>
      <form>
        <p>
          <input type="text" name="username" ng-model="login.username" placeholder="username"/>
        </p>
        <p>
          <input type="password" name="password" ng-model="login.password" placeholder="password"/>
        </p>
        <p>
          <button ng-click="userlogin()" class="btn btn-default">Log in</button>
        </p>
        <p><a href="#">I forgot my password</a></p>
        <p>New to Poop Already? <a href="/signup">Sign up</a></p>
      </form>
    </div>
  </div>
</div>