html(ng-app='chrisbrown')
  head
    title poop already
    include includes/style_block

  body(ng-controller='MainController')
    include includes/header

    ng-view

    include includes/script_block
