form
  input(type='text' name='username' ng-model='login.username' placeholder='username')
  input(type='password' name='password' ng-model='login.password' placeholder='password')
  button.btn.btn-default(ng-click='userlogin()') Log in

